<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width" name="viewport"  />
    <title>pocket</title>
		<link href="assets/styles.css" rel="stylesheet">
  </head>
  <body>
    <%= render("header") %>
		<%= content %>
    <%= render("footer") %>
    <script src="assets/scripts.js"></script>
  </body>
</html>
